#main-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#main-content {
	flex-grow: 1;
	margin: 10px;
}

#footer {
	padding: 10px;
	text-align: center;
	flex-shrink: 0;
}

.dark-mode {
	color-scheme: dark;
}